<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <fieldset>
                        <legend class="text-center header">Nueva Habilidad</legend>
                        <div class="form-group">
                            <label for="form-group" class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-md-8">
                                <input id="nombre" name="name" type="text" placeholder="Nombre de la habilidad." [(ngModel)]="nombre" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="form-group" class="col-sm-2 col-form-label">Porcentaje</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese un porcentaje de dominio de la habilidad." rows="7" [(ngModel)]="porcentaje"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>