<div class="container" *ngIf="educacion">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <fieldset>
                        <legend class="text-center header">Editar Educación</legend>
                        <div class="form-group">
                            <label for="form-group" class="col-sm-2 col-form-label">Título</label>
                            <div class="col-md-8">
                                <input id="nombre" name="name" type="text" placeholder="Título de la educación." [(ngModel)]="educacion.nombreE" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="form-group" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese una descripcion de su educación." rows="7" [(ngModel)]="educacion.descripcionE"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
